.home-main{
    background:url("../../image/bgimg.jpg");
    height: 98vh;
    width: 99.2%;
    position: relative;
    background-size: cover;
    background-position: initial;
    position: relative;
    left: 4px;   
}

.quote-sec>h2{
    position: absolute;
    color: rgb(134, 70, 9);
    top:32%;
    right: 15%;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: monospace;
}
.quote-sec>h5{
    position: absolute;
    color: rgb(99, 52, 8);
    top: 65%;
    right: 20%;
}

.home-sign-btn{
    position: absolute;
    height: 75px;
    width: 200px;
    background-color: rgb(23, 119, 122);
    top: 70%;
    left: 10%;
    border-radius: 38px;
    cursor: pointer;
}


.home-sign-btn>h2{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
}

.navbar-sec{
    position: absolute;
    top: 12vh;
    left: 8%;
    align-items: center;
    height: 60px;
    width: 82%;
    background-color: rgba(240, 245, 245, 0.486);
}

.navbar-sec>h2{
    text-align: center;
    color: chocolate;

}
.navbar-sec>h2::first-letter{
    color: rgb(110, 49, 8);
}


.home-content-sec{
    background: url("../../image/bgimg.jpg");
    height: 100vh;
    width: 99.2%;
    position: relative;
    background-size: cover;
    background-position: initial;
    position: relative;
    left: 4px;  
    margin-top: 100px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}
.home-content-sec::-webkit-scrollbar {
    display: none;
  }

.card-main{
    height: 53vh;
    width: 26%;
    position: relative;
    background-color: cornsilk;
    margin-top: 4%;
    margin-left: 15%;
}

.card-img>img{
    width: 100%;
    height: 20vh;
}

.card-main>h2{
    margin-left: 25%;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

.card-main>h5{
    margin: 5px;
    text-align: center;
    font-size: .7rem;
    font-family: sans-serif;
    font-weight: 500;
}

.card-main>h6{
    text-align: end;
    margin-right: 30px;
    margin-bottom: 1px;
}

.home-footer{
    position: relative;
    height: 45vh;
    width: 80%;
    background-color: rgba(24, 24, 66, 0.705);
    margin-top: 6%;
    margin-left: 9%;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.footer-card{
    position: relative;
    height: 30vh;
    width: 20%;
    background-color: rgba(38, 38, 73, 0.651);
    margin-top: 55px;
    margin-left: 10%;
 
}

.home-footer>h5{
    font-family: sans-serif;
    color: rgb(159, 159, 235);
    margin-left: 38%;

}

.home-readmore-btn{
    margin-left: 28%;
    margin-bottom: 50px;
    height: 38px;
    width: 130px;
    background-color: rgb(128, 165, 155);
    left: 10%;
    border-radius: 30px;
    cursor: pointer;
}

.home-readmore-btn>h2{
    text-align: center;
    font-family: sans-serif;
    font-size: .9rem;
}