.post-main{
    background: url("../../image/bgimg.jpg");
    height: 100vh;
    width: 99.2%;
    position: relative;
    background-size: cover;
    background-position: initial;
    position: relative;
    left: 4px;   
    display: flex;
}

.post-content-main{
    background: rgba(233, 199, 135, 0.89);
    overflow: scroll;
    height: 92vh;
    width: 55%;
    position: relative;
    left: 5%;
    top: 5%;

}  

.post-content-main::-webkit-scrollbar {
    display: none;
  }


.sugg-sec{
    background: rgba(233, 199, 135, 0.89);
    overflow: scroll;
    height: 92vh;
    width: 28%;
    position: relative;
    left: 12%;
    top: 5%;
    
    flex-wrap: wrap;

}  

.sugg-sec::-webkit-scrollbar {
    display: none;
  }

.post-content-main>img{
    height:40vh;
    width: 90%;
    padding: 30px;
}  

.post-content-main>h3{
    padding: 30px;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
    
}

.sugg-sec>h3{
    font-family: monospace;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;    
}

.sugg-card{
    background: white;
    height: 60vh;
    width: 80%;
    position:relative ;
    margin-left: 35px;
    margin-top: 40px;
}

.sugg-card>img{
    height: 25vh;
    width: 100%;
}

.sugg-card>h5{
    font-size: .7rem;
    font-family: sans-serif;
    padding: 5px;
}

.readmore-btn{
    position: absolute;
    height: 50px;
    width: 150px;
    background-color: rgb(119, 107, 86);
    left: 22%;
    border-radius: 30px;
    cursor: pointer;
}

.readmore-btn>h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}